.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

*{
	box-sizing: border-box;
}

header {
	border-bottom: 1px solid grey;
	padding-bottom: 1em;
	margin-bottom: 2em;
}

h1 {
	text-align: center;
	font-size: 3.5em;
	padding: 0.5em;
}

.credit {
	text-align: right;
	font-weight: 500;
}

.animate-view {
	max-width: 75%;
	margin: auto;
}

.sort-group {
	margin-bottom: 1.5em;
	width: 100%;
}

.btn-sort {
	width: 33.33333%;
	margin: -2px;
}

.btn-default {
	text-align: center;
}

/*home*/
.info {
	font-weight: 400;
	font-style: italic;
	font-size: 1.2em;
}

/*count-list*/
.search-form {
	margin-bottom: 1em;
}

#sort-by {
	margin-bottom: 0.5em;
}

.col-md-6{
	border: 1px solid grey;
	height: 11em;
}

.country-name {
	text-align: center;
}

.first-line {
	margin-top: 0.5em;
}

.list-flag {
	width: 8em;
}

.more-info {
	display: block;
}

/*count-detail*/
h3 {
	font-size: 1.5em;
}

h2, h3, ul {
	margin-bottom: 1.5em;
}

img {
	margin: 2em;
	max-width: 58%;
}

ul {
	list-style-type: none;
}

.neighbors {
	display: inline-block;
	margin: .3em;
}

.neighbors li {
	display: inline-block;
	margin: 1em;
	width: 28%;
}

/*Animations*/
.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('../images/tarddance.gif');
}

.animate-view-container { position:relative; min-height: 100%; }
.animate-view {
    transition:700ms linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}

.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }

@media screen and (max-width: 990px) {
	.list-flag {
		margin: 1em;
	}
}

@media screen and (max-width: 450px) {
	h1 {
		font-size: 2.5em;
	}

	.credit {
		text-align: center;
		font-weight: 400;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1em;
	}

	.btn-sort {
		display: block;
		width: 100%;
	}

	.neighbors li {
		display: block;
		width: 100%;
	}
}






