*{
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 3.5em;
	padding: 1em;
	border-bottom: 1px solid grey;
}

.animate-view {
	/*text-align: center;*/
	max-width: 75%;
	margin: auto;
}

.btn-default {
	text-align: center;
	margin: 1.5em auto;
}

/*count-list*/
.header-row {
	font-weight: bold;
}

.col-md-2 {
	border: 1px solid grey;
}

/*count-detail*/
h3 {
	font-size: 1.5em;
}

h2, h3, ul {
	margin-bottom: 1.5em;
}

img {
	margin: 2em;
	max-width: 35em;
}

ul {
	list-style-type: none;
}

.neighbors {
	display: inline-block;
	margin: .3em;
}

.neighbors li {

}