<a class="btn btn-default" href="#!/">Home</a>
<h2>List of countries</h2>
<input type="text" class="form-control search-form" placeholder="Filter by country" ng-model="search">
<div ng-repeat="country in countries | filter:search" class="row count-list">
	<div class="col-md-6 country-name">
		<img class="list-flag" ng-src="http://www.geonames.org/flags/x/{{ country.countryCode.toLowerCase() }}.gif" alt="Flag not found">
		<h3 class="list-header">
			<a href="#!/countries/{{ country }}">{{ country.countryName }}</a>
		</h3>
	</div>
	<div class="col-md-6 country-blurb">
		<p class="first-line"><strong>Code:</strong> {{ country.countryCode }}</p>
		<p><strong>Captial:</strong> {{ country.capital }}</p>
		<p><strong>Area in sq km:</strong> {{ country.areaInSqKm | number : 0 }}</p>
		<p><strong>Population:</strong> {{ country.population | number : 0 }}</p>
		<p><strong>Continent:</strong> {{ country.continent }}</p>
	</div>
</div>



