<a class="btn btn-default" href="#!/">Home</a>
<h2>List of countries</h2>
<input type="text" class="form-control search-form" placeholder="Filter by country" ng-model="search">
<h3 id="sort-by">Sort by..</h3>
<div class="btn-group" role="group" aria-label="...">
	<button type="button" ng-click="order('countryName')" class="btn btn-default">
		<span ng-show="predicate === 'countryName'" ng-if="!reverse" class="glyphicon glyphicon-triangle-top"></span>
		<span ng-show="predicate === 'countryName'" ng-if="reverse" class="glyphicon glyphicon-triangle-bottom"></span>
		Name
	</button>
	<button type="button" ng-click="order('areaInSqKm')" class="btn btn-default">
		<span ng-show="predicate === 'areaInSqKm'" ng-if="!reverse" class="glyphicon glyphicon-triangle-top"></span>
		<span ng-show="predicate === 'areaInSqKm'" ng-if="reverse" class="glyphicon glyphicon-triangle-bottom"></span>
		Area in Sq Km
	</button>
	<button type="button" ng-click="order('population')" class="btn btn-default">
		<span ng-show="predicate === 'population'" ng-if="!reverse" class="glyphicon glyphicon-triangle-top"></span>
		<span ng-show="predicate === 'population'" ng-if="reverse" class="glyphicon glyphicon-triangle-bottom"></span>
		Population
	</button>
</div>
<uib-accordion>
	<uib-accordion-group ng-repeat="country in countries | filter:search | orderBy:predicate:reverse" heading="{{ country.countryName }}">
		<div class="inner-content">
			<p><strong>Captial:</strong> {{ country.capital }}</p>
			<p><strong>Area in sq km:</strong> {{ country.areaInSqKm | number : 0 }}</p>
			<p><strong>Population:</strong> {{ country.population | number : 0 }}</p>
			<p><strong>Continent:</strong> {{ country.continent }}</p>
			<a class="more-info" href="#!/countries/{{ country }}">More Info..</a>
			<img class="list-flag" ng-src="http://www.geonames.org/flags/x/{{ country.countryCode.toLowerCase() }}.gif" alt="Flag not found">
		</div>
	</uib-accordion-group>
</uib-accordion>



